# Instagram Graph API / Basic Display API Credentials for MAA MALA™
# Retrieve these credentials from Meta for Developers (https://developers.facebook.com/)

VITE_INSTAGRAM_ACCESS_TOKEN=your_instagram_graph_api_access_token_here
VITE_INSTAGRAM_USER_ID=your_instagram_user_id_here
